body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7f9;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #0077c2;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.section {
    display: none;
    padding: 40px;
    text-align: center;
}

.active {
    display: block;
}

/* FORM STYLE */
form {
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background: #0077c2;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005a94;
}

span {
    color: #0077c2;
    cursor: pointer;
}

/* EVENTS */
.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px;
}

.event-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.event-card h3 {
    margin: 0;
    color: #333;
}

.event-card p {
    color: #555;
}
